*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Sesame repository files
*.data
SemanticProxy/lock

# Configuration file
SemanticProxy/config.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# Target
SemanticProxy/target/
SemanticProxyClient/target/

# Log files
SemanticProxy/SemanticProxy.log*