<Configuration xmlns="http://www.hsos.de/richwps/sp/config">
  <RDFDirectory>.</RDFDirectory>
  <StartClean>true</StartClean>
  <Owner>HS-OS</Owner>
  <Domain>RichWPS test domain</Domain>
  <PreloadFiles>
    <WPS>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\LKN\WPSMacrophyte.rdf</WPS>
    <WPS>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\BAW\WPSModelValidation.rdf</WPS>
    <Process>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\LKN\ProcessSelectReportingArea.rdf</Process>
    <Process>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\LKN\ProcessSelectMSRLD5.rdf</Process>
    <Process>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\LKN\ProcessIntersect.rdf</Process>
    <Process>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\LKN\ProcessSelectTopography.rdf</Process>
    <Process>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\LKN\ProcessCharacteristics.rdf</Process>
    <Process>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\BAW\ProcessReadData.rdf</Process>
    <Process>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\BAW\ProcessHarmonize.rdf</Process>
    <Process>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\BAW\ProcessCompare.rdf</Process>
    <Process>C:\Users\fbensman\richwps-spv2\SemanticProxy\RDF\BAW\ProcessFormat.rdf</Process>
  </PreloadFiles>
  <HTTPEndpoints>
    <Host>http://localhost:4567</Host>
    <Application>semanticproxy</Application>
    <Resources>resources</Resources>
    <Vocabulary>vocab</Vocabulary>
    <WPSList>wpss</WPSList>
    <ProcessList>processes</ProcessList>
    <Search>search</Search>
  </HTTPEndpoints>
  <RDFNamingEndpoints>
    <WPSNaming>wps</WPSNaming>
    <ProcessNaming>process</ProcessNaming>
    <InputNaming>input</InputNaming>
    <OutputNaming>output</OutputNaming>
  </RDFNamingEndpoints>
</Configuration>