<Configuration xmlns="http://www.hsos.de/rwps/semanticproxy/config">
  <RDFDirectory>.</RDFDirectory>
  <StartClean>true</StartClean>
  <PreloadFiles>
    <File>.\RDF\Network.rdf</File>
    <File>.\RDF\LKN\WPSMacrophyte.rdf</File>
	<File>.\RDF\LKN\ProcessSelectReportingArea.rdf</File>
	<File>.\RDF\LKN\ProcessSelectMSRLD5.rdf</File>
	<File>.\RDF\LKN\ProcessSelectTopography.rdf</File>
	<File>.\RDF\LKN\ProcessIntersect.rdf</File>
	<File>.\RDF\LKN\ProcessCharacteristics.rdf</File>
	
    <File>.\RDF\BAW\WPSModelValidation.rdf</File>
	<File>.\RDF\BAW\ProcessReadData.rdf</File>
	<File>.\RDF\BAW\ProcessHarmonize.rdf</File>
	<File>.\RDF\BAW\ProcessCompare.rdf</File>
	<File>.\RDF\BAW\ProcessFormat.rdf</File>
	
  </PreloadFiles>
  <HTTPEndpoints>
    <Host>http://localhost:4567</Host>
    <Application>semanticproxy</Application>
    <Resources>resources</Resources>
    <Vocabulary>vocab</Vocabulary>
    <WPSList>wpss</WPSList>
    <ProcessList>processes</ProcessList>
	<Search>search</Search>
  </HTTPEndpoints>
  <RDFNamingEndpoints>
    <WPSNaming>wps</WPSNaming>
    <ProcessNaming>process</ProcessNaming>
    <InputNaming>input</InputNaming>
    <OutputNaming>output</OutputNaming>
  </RDFNamingEndpoints>
</Configuration>